/* ===================================================================
*  WEBFONTS AND ICONFONTS
* -------------------------------------------------------------------
*/



/**
* ===================================================================
* STYLE HEAD
* -------------------------------------------------------------------
*/
html, body { height: 100%;}


/**
 * links
 */
a {
color: #FFFFFF;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
text-decoration: none;
}
a:visited{}
a:hover, a:focus {
color:#000;
text-decoration: none;
}


/**
* ===================================================================
* IMG STYLE
* -------------------------------------------------------------------
*/

img{max-width:100%;}


/**
* ===================================================================
*  BUTTONS FORMS MENU
* -------------------------------------------------------------------
*/


/**
* ===================================================================
*  FORM STYLE
* -------------------------------------------------------------------
*/

form {
    position: relative; 
    padding: 20px 0px 20px 0px;
	text-align:center;
}
form input {
	width: 49%;
	padding: 10px;
    margin: 10px 0px 10px 0px;
	border: 1px solid #DEDEDE;
	border-radius: 50px; 
	background-color: transparent;
	outline: none;
	transition: 0.3s;
	color: #000;
 }
 

form input:focus{
	border: 1px solid #FFCA42;
}
 
 
form input::placeholder{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	padding:0px 10px;
	color: #6F6F6F;
}
 
.registration__form1 .custom-checkbox>input {
  left:0px;
}

.custom-checkbox>input {
  position: absolute;
  left:3px;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox>p {
  user-select: none;
  font-size: 15px;
}

.custom-checkbox>p::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #3C3C3C;
  border-radius: 50px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor:pointer;
}

.custom-checkbox>input:not(:disabled):not(:checked)+p:hover::before {
  border-color: #EBBA8C;
}

.custom-checkbox>input:not(:disabled):active+p::before {
  border-color: #EBBA8C;
}
.custom-checkbox>input:checked+p::before {
  border-color: #EBBA8C;
  background-color: #FFFFFF;
  background-image: url("../img/cheak.svg");
  background-size:15px;
  box-shadow: 0 0 0 0.2rem #EBD8C7;
}

.custom-checkbox>input:disabled+p::before {
  background-color: #e9ecef;
}

form label{
	padding: 20px 0px 0px 0px;
}

.registration__form a {
    color: #000;
    text-decoration: underline;
    display: inline;
}
 


/**
* ===================================================================
* SECTIONS
* -------------------------------------------------------------------
*/

section {
	padding: 80px 0px 60px 0px;
} 

/*section1*/
#sec1{
	padding: 30px 0px 0px 0px;
}


/*section2*/

/*section3*/


/*section4*/


/*section5*/



/*section6*/


 

/**
* ===================================================================
*  RESPONSIVE
* -------------------------------------------------------------------
*/

@media only screen and (max-width:1900px) {


}
@media only screen and (max-width:1600px) {


}
@media only screen and (max-width:1500px) {


}
@media only screen and (max-width:1200px) {


}

@media only screen and (max-width:992px) {


}

@media only screen and (max-width:800px) {


}

@media only screen and (max-width:768px) {


}

@media only screen and (max-width:630px) {

}

@media only screen and (max-width:500px) {

}

@media only screen and (max-width: 480px){


}

@media only screen and (max-width: 414px){

}

@media only screen and (max-width: 412px){

}


@media only screen and (max-width: 384px){

}

@media only screen and (max-width: 375px){
  
}

@media only screen and (max-width: 360px){


}

@media only screen and (max-width: 320px){


}

@media screen and (device-aspect-ratio: 320/568) {
}